/* Navbar styling */
.navbar {
  background-color: #040d12;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar-logo,
.navbar-link {
  color: #E4F1FF;
  text-decoration: none; 
  text-transform: uppercase;
  font-weight: 600;
  transition: .8s;
}

.navbar-link:hover {
  color: #AED2FF;
  box-shadow: 0 0 5px #AED2FF;
  text-shadow: 0 0 5px #AED2FF;
}

.navbar-logo:hover {
  padding: 5px;
  border: 2px solid #AED2FF;
}



/* .navbar-logo:hover,
.navbar-link:hover {
  color: white;
} */

.body {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #040d12;
  color: #F0F0F0;
}
.card {
  width: 18rem;
  height: 15rem;
  border-radius: 3%;
  background-color: #E4F1FF;
  color: #27005D;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid #9400FF;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.link {
  text-decoration: none;
}
