<%- include('partials/_header') %>
<div class="error-container">
<div class="wrapper">
    <div class="errorBox">
        <h1 class="error-heading">500</h1>
        <p class="error-para">Sorry, it's me, not you.</p>
        <p class="error-para">&#58;&#40;</p>
        <p class="error-para"><a href="javascript:history.back();">Let me try again!</a></p>
    </div>
</div>
</div>
<%- include('partials/_footer') %>