<%- include('partials/_header') %>
    <div id="not-found-container">
        <div class="container" id="student-not-found-container">
            <h1 id="not-found-heading">Student Not Found</h1>
            <p id="not-found-message">We're sorry, but the requested student could not be found.</p>
            <a href="javascript:history.back();" id="back-to-home">Go back to homepage</a>
        </div>
    </div>
        <%- include('partials/_footer') %>