<div class="container mt-5">
  <div class="row">
    <div class="text-center header">
      
      <h1 class="login-heading"><img src="https://mma.prnewswire.com/media/844192/Nagarro_Logo.jpg?p=twitter" alt="Logo" class="logo">
        LOGIN AS</h1>
    </div>
  </div>
</div>

<div class="container mt-5 text-center">
  <div class="row justify-content-around buttons">
    <div class="col-lg-4 col-md-6">
      <button class="login-button teacher-button" [routerLink]="['tLogin']">Teacher Login</button>
    </div>
    <div class="col-lg-4 col-md-6">
      <button class="login-button student-button" [routerLink]="['search']">Student Login</button>
    </div>
  </div>
</div>
