.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #293462;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

h1:hover {
  color: black; /* New color on hover */
  background-color: #ACBCFF; /* New background color on hover */
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.alert {
  margin-top: 10px;
}

.btn-info,
.btn-secondary,
.btn-danger {
  height: 40px;
  width: 100px;
  position: relative;
  overflow: hidden;
}

.btn-info::before,
.btn-secondary::before,
.btn-danger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #554994;
  transition: width 0.3s ease;
}

.btn-info:hover::before,
.btn-secondary:hover::before,
.btn-danger:hover::before,
.btn-info:focus::before,
.btn-secondary:focus::before,
.btn-danger:focus::before {
  width: 100%;
  z-index: -1;
}

.btn-info span,
.btn-secondary span,
.btn-danger span {
  position: relative;
  z-index: 1;
  color: #fff;
}

.error-message {
  font-size: 0.8rem;
  margin-top: 0.25rem;
  color: red;
}

.student-error-message {
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  color: red;
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
}
