<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-webapp"/>
        <listEntry value="archetypeVersion=1.0"/>
        <listEntry value="groupId=com.nagarro"/>
        <listEntry value="artifactId=Advance_Java_Assignment_3"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.nagarro.Advance_Java_Assignment_3"/>
        <listEntry value="outputDirectory=C:\Users\aniketkumar01\Desktop\aniket-kumar\Week7"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\ANIKET~1\AppData\Local\Temp\m2e-archetypeGenerator5385693435626864148"/>
</launchConfiguration>
